.wrapp-head-total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.BtnSend {
    background: #426FCD;
    border-radius: 100px;
    padding: 16px 30px;
    width: 100%;
    border-style: none;
    color: #fff;
    font-family: 'Neue montreal';
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    transition: 200ms ease-in;
}

.BtnSend:hover {
    background: #2e56a9;
}